.marketing img {
	height: 200px;
}

.obj-desc {
	padding-top: 15px;
	height: 80px;
}

.idx-object {
	text-align: center;
}

.filters {
	text-align: left;
	margin-bottom: 20px;
	float: left;
}

.input-group {
	float: left;
	padding-right: 15px;
}
